<app-nav></app-nav>
<div class="box1">
    <div class="titulo" id="001">
        <h1>SENDERISMO EN NORUEGA</h1>
        <div class="redes">
            <ul><li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-beat-fade fa-2xl"></i></a></li></ul>
            <ul><li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-beat-fade fa-2xl"></i></a></li></ul>
            <ul><li><a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-beat-fade fa-2xl"></i></a></li></ul>
            <ul><li><a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-beat-fade fa-2xl"></i></a></li></ul>
            <ul><li><a href="https://github.com/"><i class="fa-brands fa-github fa-beat-fade fa-2xl"></i></a></li></ul>
        </div>
  
        <a href="" class="boton-leer">LEE MAS</a>
    </div>
  
    <div class="logo">
        <img src="../assets/img/Logo.png" alt="logo">
    </div>
  </div>
  
  <div class="box2">
    <div class="nosotros" id="002">
        <h2>Sobre <br> nosotros</h2>
        <p>Practique senderismo en Noruega y descubra por qué los lugareños no se cansan de la naturaleza. Nuestros paisajes más pintorescos definitivamente se disfrutan mejor a pie.</p>
        <div class="botonsito">
            <a href="" class="boton-leer">LEE MAS</a>
        </div>
    </div>
  
    <div class="imgs">
        <img src="../assets/img/montañitas.jpg" alt="">
    </div>
  
    <div class="imgs">
        <img src="../assets/img/aguita.png" alt="">
    </div>
  </div>
  
  <div class="box3">
  
    <h3>¡Explora Y Disfruta!</h3>
  
    <div class="container">
        <div class="imgs">
            <img src="../assets/img/hojas.jpeg" alt="">
    </div>
  
    <div class="imgs-mapa">
        <img src="../assets/img/mapa.jpeg" alt="">
        
    </div>
  
    <div class="imgs">
        <img src="../assets/img/escalada.jpeg" alt="">
    </div>
  
    <div class="imgs">
        <img src="../assets/img/Eclipse.jpeg" alt="">
    </div>
  
    <div class="imgs">
        <img src="../assets/img/cascada.jpeg" alt="">
    </div>
  
    <div class="imgs">
        <img src="../assets/img/nubes.jpeg" alt="">
    </div>
  
    </div>
  </div>
  
  <div class="box4" id="003">
    <div class="text2">
    <h3>senderismo en el fiordo noruega</h3>
    <p>El variado paisaje, desde populares senderos señalizados y atracciones turísticas hasta paisajes míticos salvajes e indómitos, le ha valido a Noruega una merecida reputación como un importante destino de senderismo en Europa. Algunos ejemplos de clásicos (¡y desafiantes!) Las rutas de senderismo son Preikestolen, Trolltunga, Galdhøpiggen, Besseggen y Romsdalseggen.</p>
    <div class="botonsito">
        <a href="" class="boton-leer">LEE MAS</a>
    </div>
    </div>
  
    
  </div>
  
  <div class="box5">
    <div class="fiordo">
        <img src="../assets/img/Lago.jpeg" alt="">
        <p>Estas caminatas icónicas son visitadas por personas de todo el mundo y tienden a estar un poco concurridas durante los fines de semana desde mediados de junio hasta finales de julio. Sin embargo, si recorre los senderos durante los días de semana, probablemente encontrará menos personas.</p>
    </div>
    
    <div class="fiordo">
        <img src="../assets/img/Reflejo.jpeg" alt="">
        <p>Estas caminatas icónicas son visitadas por personas de todo el mundo y tienden a estar un poco concurridas durante los fines de semana desde mediados de junio hasta finales de julio. Sin embargo, si recorre los senderos durante los días de semana, probablemente encontrará menos personas.</p>
    </div>
  
  </div>
  
  <div class="box6">
  
    <div class="text3">
    <h4>Lorem, ipsum.</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis, cum!</p>
  
    </div>
    
  </div>

<app-footer></app-footer>